.btn {
  padding: 8px 12px;
  margin: 0 8px;
  background-color: inherit;
  border-radius: 2px;
  border: 1px solid transparent;

  cursor: pointer;
}

.edit {
  background-color: rgb(186, 219, 186);
}

.delete {
  font-weight: bold;
  color: rgb(170, 8, 8);
  background-color: rgb(244, 216, 216);
}

.btn:hover,
.selected {
  opacity: 0.8;
  border: 1px solid rgb(136, 128, 128, 0.4);
}
