.App {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: rgb(246, 245, 245);
  height: 100vh;
}

.header {
  display: block;
  padding: 20px 0;
}

.title {
  font-size: 80px;
  font-weight: normal;
  color: rgb(234, 201, 201);
  text-align: center;
}

.main {
  width: 558px;
  margin: 0 auto;
}
