.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #fff;
  width: 100%;
  height: 44px;
  border: 1px solid rgb(194, 194, 194);
  color: rgb(117, 114, 114);
}
